body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.snackbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: row;
  background-color: #3d3d3d;
  color: white;
  visibility: hidden;
}

.slide-in {
  animation: slide 600ms;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% { 
    visibility: visible;
    transform: translate(0, 100px);
  }
  100% {
    visibility: visible;
    transform: translate(0, 0);
  }
}

.bean-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

.snackbar .message {
  flex-grow: 1; 
}

.snackbar .action {
  color: #F44336;
  cursor: pointer;
  user-select: none;
}

.snackbar p {
  display: inline-block;
}

